{% extends "base.html" %}
{% block content %}
    {{ super() }}


    <div class="container">
        {% from "forms/macros.html" import render_field %}
        <form method="POST" action=".">
            {{ form.hidden_tag() }}
            {{ render_field(form.name, placeholder="user") }}
            {{ render_field(form.password, placeholder="password") }}
            {{ render_field(form.confirm, placeholder="confirm") }}
            <input type="submit">
        </form>
    </div>
{% endblock %}