{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                {% if posts|length > 0 %}
                    <ul>
                        {% for p in posts %}
                            <li>[{{ p.time }}]: {{ p.content }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Sorry, but we could not find any posts of {{ username }}.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}