{% extends "bootstrap/base.html" %}
{% from "forms/macros.html" import render_link %}

{% block title %}Mega Tracker - 1984 {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Track-It
                </a>
            </div>

            <div class="navbar-left">
                <p class="navbar-text">
                    {{ render_link("tracking.index", "Home") }}
                </p>
                <p class="navbar-text">
                    <a href="{{ url_for("post.me") }}">Me</a>
                </p>
                {% if current_user.role == 1 %}
                    <p class="navbar-text">
                        <a href="/admin">Admin</a>
                    </p>
                {% endif %}
            </div>

            <div class="navbar-right">
                {% if current_user.is_authenticated() %}
                    <p class="navbar-text">
                        Signed in as {{ current_user.username }}
                    </p>
                    <p class="navbar-text">
                        {{ render_link("user.logout", "Logout") }}
                    </p>
                {% else %}
                    <p class="navbar-text">
                        {{ render_link("user.login", "Login") }}
                    </p>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}

<div class="container">
    {% import "bootstrap/utils.html" as utils %}
    {{ utils.flashed_messages() }}
</div>

{% endblock %}

