<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Mega Tracker - 1984 </title>
</head>
<body>

{% from "forms/macros.html" import render_link %}

{{ render_link("tracking.index", "Track") }} |

{% if current_user.is_authenticated() %}
    Logged in as {{ current_user.username }} | {{ render_link("users.logout", "Logout") }}
{% else %}
    {{ render_link("users.login", "Login") }} | {{ render_link("users.register", "Register") }}
{% endif %}

<hr>

{% block content %} {% endblock %}

</body>
</html>